
  header {
  position: sticky;
  top: 0;
}


.headingforcatg{
  background-color: rgb(251, 251, 251);
  height: 10vh;
  width: 100%;
}
.categhead {
  text-align: center;
  color: rgb(29, 25, 25);
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
margin-top: 10px;
}

.navbar-with-bs {
  background-color: #000000;
}

.main {
  margin-top: 10rem;
}

.flex-container {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}


.flex-item-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


#search_icon,
#cart_icon,
#wishlist_icon,
#profile_icon {
  max-width: 22px;
  max-height: 22px;

}

a {
  text-decoration: none;
}




.icons {
  list-style-type: none;
}

.logooo {
  display: inline;
  margin-right: 1vw;
}

.logo_img {
  max-width: 8rem;
}

#merch_img {
  height: 32px;
  width: 31%;
}

#head_link {
  text-decoration: none;
  color: white
}

#signup-class {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


.form-part {
  width: 25vw;
}

.container-for-the-thing {
  width: 100%;
}

.parent {
  width: 100%;
  display: flex;
  height: 300px;
}

.smallblack {
  flex-direction: row;
  width: 38%;
  background-color: black;
  height: 300px;
}

.bigimage {
  height: 300px;
  align-items: flex-end;
  overflow: hidden;
}



.subparent {

  display: flex;
  margin: auto;
  align-items: center;


}



.item-view {
  text-decoration: none;
  color: black;
}

hgroup {
  text-align: center;
  margin-top: 4em;
}


.log-form {
  width: 500px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #000000;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}


.log-input {
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  background: #fafafa;
  color: #636363;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #757575;
}

.btn-grp {
  margin: auto;
}

.group {
  position: relative;
  margin-bottom: 45px;
}

a {
  text-decoration: none;
}

/* input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  background: transparent;
  border: 1px solid black;
  font-family: "Montserrat";
   font-size: 12px; 
  font-weight: 400;
  letter-spacing: 0.2em;
  line-height: 24px;
  height: 42px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: none;
  width: 100%;
} */

.here {
  text-decoration: none;
}

.banner-image {
  width: -webkit-fill-available;
}

.ironmageimage,
.img-part {
  width: -webkit-fill-available;
}

/* .otpPage {
  margin-top: 5rem;

} */

.welcome {
  margin-left: 2rem;
}


/* -----login form------ */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

section .container {
  position: relative;
  width: 1000px;
  height: 500px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

section .container .user {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  display: flex;
}

section .container .user .imgBx {
  position: relative;
  width: 50%;
  height: 100%;

  transition: 0.5s;
}

section .container .user .imgBx img {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section .container .user .formBx {
  position: relative;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  transition: 0.5s;
}

section .container .user .formBx form  {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  color: #555;
}

section .container .user .formBx form input {
  position: relative;
  width: 100%;
  padding: 10px;
  background: #f5f5f5;
  color: #333;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 8px 0;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
}

section .container .user .formBx form input[type='submit'] {
  max-width: 100px;
  background: #000000;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.5s;
}

section .container .user .formBx form .signup {
  position: relative;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #555;
  text-transform: uppercase;
  font-weight: 300;
}

section .container .user .formBx form .signup a {
  font-weight: 600;
  text-decoration: none;
  color: #677eff;
}

section .container .signupBx {
  pointer-events: none;
}

section .container.active .signupBx {
  pointer-events: initial;
}

section .container .signupBx .formBx {
  left: 100%;
}

section .container.active .signupBx .formBx {
  left: 0;
}

section .container .signupBx .imgBx {
  left: -100%;
}

section .container.active .signupBx .imgBx {
  left: 0%;
}

section .container .signinBx .formBx {
  left: 0%;
}

section .container.active .signinBx .formBx {
  left: 100%;
}

section .container .signinBx .imgBx {
  left: 0%;
}

section .container.active .signinBx .imgBx {
  left: -100%;
}

@media (max-width: 991px) {
  section .container {
    max-width: 400px;
  }

  section .container .imgBx {
    display: none;
  }

  section .container .user .formBx {
    width: 100%;
  }
}

/* landing page */
.firstcat {
  height: 50vh;
}

.landingproduct {
  width: -webkit-fill-available;
}
/* card for category in landing page */ 

/* new template */
