<%- include('../layouts/userheader.ejs'); -%>
<div class="container otpPage " id="top">
  <div class="row">
    <div class="col"></div>
    <div class="col-5">
      <form method="post" action="/changepassword">
        <input
          type="password"
          name="changepassword"
          id="changepassword"
          class="mt-4"
          placeholder="Enter new password"
        />
        <input
          type="password"
          name="confirmpassword"
          id="confirmpassword"
          class="mt-4"
          placeholder="ReEnter new password"
        />

        <button type="submit" class="btn btn-dark mt-4">submit</button>
        <p class="text-danger fw-bold mx-auto"><%=locals.message %></p>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>

<!-- Back to Top -->
<a href="#top" class="btn back-to-top"><i class="fa fa-angle-double-up"></i></a>

<%- include('../layouts/userfooter.ejs'); -%>