<%- include('../layouts/userheader.ejs'); -%>

  <body class="my-auto bg-light">
    <div class="container mx-auto my-auto" id="top" style="height: 100vh;">

      <div class="row align-items-center mt-5 pt-5">

        <div
          class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-6 mx-auto mt-5 pt-5 align-self-center bg-white  border rounded"
          id="generate">
          <h3 class="py-2 mb-3">RESET PASSWORD </h3>
          <form method="post" id="changepasswordForm">
            <input type="password" name="changepassword" id="changepassword" class=" form-control mt-4"
               placeholder="Enter new password" required>
            <span id="confirmPasswordErrorMessage1"></span>

            <input type="password" name="confirmpassword" id="confirmpassword" class="form-control mt-4"
             placeholder="Re Enter new password" required>
            <span id="confirmPasswordErrorMessage"></span>

            <p class="text-danger fw-bold mx-auto">
              <%=locals.message %>
            </p>
            <button type="submit" class="btn btn-dark my-4" >Submit</button>


        </div>
        <script>
       
           function chcklen() {
            var changepassword = $("#changepassword").val()
            if (changepassword.length <8) {
              $('#confirmPasswordErrorMessage1').text('Minimum 8 characters required')
              $("#confirmPasswordErrorMessage1").css("color", "red")
            } else {
              $('#confirmPasswordErrorMessage1').text('')
            }
          }

          function isSame() {
            var changepassword = $("#changepassword").val();
            var confirmpassword = $("#confirmpassword").val();
        
            if (changepassword !== confirmpassword) {
              $('#confirmPasswordErrorMessage').text('Passwords must be same');
              $("#confirmPasswordErrorMessage").css("color", "red");
            } else {
              $('#confirmPasswordErrorMessage').text('Success');
              $("#confirmPasswordErrorMessage").css("color", "green");
            }
          }
        
          $("#changepasswordForm").submit(function(e) {
            e.preventDefault();
            var changepassword = $("#changepassword").val();
            var confirmpassword = $("#confirmpassword").val();
        console.log(changepassword);
        console.log(confirmpassword);
            if (changepassword != confirmpassword) {
              $('#confirmPasswordErrorMessage').text('Passwords must be same');
              $("#confirmPasswordErrorMessage").css("color", "red");
            } else {
              $.ajax({
                url: '/changepassword',
                method: 'post',
                data: {
                  changepassword: changepassword,
                  confirmpassword:confirmpassword,

                },
                success: (res) => {
                  if (res.success === true) {
                    Swal.fire({
                    toast:true,
                    position: 'top',
                    icon: 'success',
                    title: 'password changed successfully',
                    showConfirmButton: false,
                    timer: 1500
                    })

                    location.replace("/login");
                  } else {
                    Swal.fire({
                    toast: true,
                    position: 'top',
                    icon: 'warning',
                    title: res.message,
                    showConfirmButton: false,
                    timer: 1500
                  })
                  }
                }
              });
            }
          });
        </script>
        
      </div>
    </div>


    <!-- Back to Top -->
    <a href="#top" class="btn back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <%- include('../layouts/userfooter.ejs'); -%>