<%- include('../layouts/userheader.ejs'); -%>

<!-- ================= -->
<br /><br /><br /><br />
<section>

  <div class="container mt-5" id="top">
    <div class="user signinBx">
      <div class="formBx">
        <div class="container1">
        <form method="post" action="/getemailforforgotpassword">
          <% if(locals.email != null){ %>
          <input type="text" name="emailForForgotPassword" id="emailForForgotPassword" class="mt-4 w-100" value="<%= locals.email %>" required />
          <% }else{ %> 
            <input type="text" name="emailForForgotPassword" id="emailForForgotPassword" class="mt-4 w-100" placeholder="Enter your email here" required />
<% } %>
          <br />
          <button type="submit" class="btn btn-dark mt-4">Generate otp</button>          
      </form>        
    </div>
    </div>
    

      <div class="formBx">
        
      <div class="container1">

      <form method="post" action="/forgotpassword">
        <input type="text" name="FPOtp" id="otp_code" class="mt-4" placeholder="Enter otp here" />
        <button type="submit" class="btn btn-dark mt-4">Verify otp</button>
        <p class="text-danger fw-bold mx-auto"><%=locals.message %></p>
      </form>

</div>
      </div>
  </div>
</div>
</section>

<!-- Back to Top -->
<a href="#top" class="btn back-to-top"><i class="fa fa-angle-double-up"></i></a>

<%- include('../layouts/userfooter.ejs'); -%>