<%- include('../layouts/userheader.ejs'); -%>




  <!-- ----------------------------------------------- --><br><br><br><br>
  <section >
    <div class="container mt-5" id="top">
      <div class="user signinBx">
        <div class=" mx-auto my-auto" >
          <h1  style="margin-top:5%; text-align:center;">Order Successful!</h1><br/>
          <a href="/search">Go back to shopping</a>
        </div>
      </div>
      
    </div>
  </section>

  <!-- Back to Top -->
<a href="#top" class="btn back-to-top"><i class="fa fa-angle-double-up"></i></a>



<!-- new order success -->


<%- include('../layouts/userfooter.ejs'); -%>