<%- include('../layouts/userheader.ejs'); -%>
<div class="container otpPage" id="top">
   
    <div class="row">
      <div class="col">
     
      </div>
      <div class="col-5">
        <form method="post" action="/verifyotp">
       <input type="text" name="otp_code" id="otp_code" class=" mt-4" placeholder="Enter otp here">
       <button type="submit" class="btn btn-dark mt-4">Verify otp</button>
       <p class="text-danger fw-bold mx-auto"><%=locals.message %></p>
    </form>

   
      </div>
      <div class="col">
        
      </div>
    </div>
  </div>


<!-- ----------------------------------------------- -->
<br /><br /><br /><br />
<section>

  <div class="container mt-5">
    <div class="user signinBx">
      <div class="formBx">
        <div class="container1">
        <form method="post" action="/verifyotp">
          <h2>OTP Verification</h2>
          <input type="text" name="otp_code" id="otp_code" class=" mt-4" placeholder="Enter otp here">
          <br />
          <button type="submit" class="btn btn-dark mt-4">Verify otp</button>

          
        </form>
      </div>
      </div>
    </div>
  </div>
</section>

<!-- Back to Top -->
<a href="#top" class="btn back-to-top"><i class="fa fa-angle-double-up"></i></a>

<%- include('../layouts/userfooter.ejs'); -%>