<%- include('../layouts/userheader.ejs'); -%>
<link rel="stylesheet" href="/css/style2.css">
<div class="main" id="top">
<div class="welcome mt-5 mx-auto ms-4">
<h3 > </h3>
</div>
<div class="container mx-auto mt-5">

    <div class="row">

      <div class="col-md-4 col-12 mt-3">
        <a href="/orderlist" class="item-view">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Your Orders</h5>
              <p class="card-text">Track ,return or buy things again</p>
            </div>
          </div>
          </a>
      </div>

      <div class="col-md-4 col-12 mt-3">
        <a href="/loginSecurity" class="item-view">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Login & Security</h5>
              <p class="card-text">Edit name,email or phone number </p>
            </div>
          </div>
          </a>
      </div>
      
      <div class="col-md-4 col-12 mt-3">
        <a href="/addresses" class="item-view">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Your Addresses</h5>
              <p class="card-text">Track ,return or buy things again</p>
            </div>
          </div>
          </a>
      </div>

    </div>

     <div class="row">
      <div class="col-md-4 col-12 mt-3">
        <a href="/cart" class="item-view">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Your Cart</h5>
              <p class="card-text">View or edit your Cart</p>
            </div>
          </div>
          </a>
      </div>

      <div class="col-md-4 col-12 mt-3">
        <a href="/checkout" class="item-view">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Your Wishlist</h5>
              <p class="card-text"> View or edit your wishlist</p>
            </div>
          </div>
          </a>
      </div>

      <div class="col-md-4 col-12 mt-3">
        <a href="/logout" class="item-view">
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Logout</h5>
              <p class="card-text"></p>
            </div>
          </div>
          </a>
      </div>
      </div>
</div>
</div>

<!-- Back to Top -->
<a href="#top" class="btn back-to-top"><i class="fa fa-angle-double-up"></i></a>

<%- include('../layouts/userfooter.ejs'); -%>